@charset "UTF-8";
:root {
  --font: "Raleway", sans-serif;
  --base-font-size: 14px;
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --gradient-start: hsl(6, 100%, 80%);
  --gradient-end: hsl(335, 100%, 65%);
}

.reset-list,
.reset-list li,
.reset-list ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

.hide-element {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*  
    ----------------------------------------------------- § TEMP
*/
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.component {
  width: 375px;
}
@media screen and (min-width: 600px) {
  .component {
    width: 920px;
  }
}

/*  
    ----------------------------------------------------- § HTML
*/
html {
  font-size: var(--base-font-size);
}

body {
  font-family: var(--font);
  color: var(--pale-blue);
  background: var(--very-dark-blue) url(../images/bg-mobile.png) 0 0 no-repeat;
  background-size: cover;
  min-height: 100vh;
}
@media screen and (min-width: 600px) {
  body {
    background: var(--very-dark-blue) url(../images/bg-desktop.png) bottom left no-repeat;
    background-size: 100% 50%;
  }
}

strong {
  font-weight: 700;
}

/*  
    ----------------------------------------------------- § COMPONENTS
*/
.standard-container {
  border-radius: 1rem;
}

.standard-container--big-rounded-corner {
  border-top-right-radius: 7.8rem;
}

/*  
    ----------------------------------------------------- § PROJECT
*/
@media screen and (min-width: 600px) {
  .storage-component {
    display: flex;
    align-items: flex-end;
  }
}

.storage-component-intro,
.storage-component-main {
  background: var(--dark-blue);
}

.storage-component-intro {
  margin-bottom: 1rem;
  padding: 3rem;
}
@media screen and (min-width: 600px) {
  .storage-component-intro {
    flex: 0 0 38%;
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

.storage-component-nav {
  margin-top: 2.1rem;
}
.storage-component-nav ul,
.storage-component-nav li {
  display: flex;
}
.storage-component-nav ul > * + * {
  margin-left: 1rem;
}

.button {
  transition: 0.15s cubic-bezier(0.28, -1.65, 0.81, 2.72);
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--very-dark-blue);
  border-radius: 0.7rem;
}
.button:hover {
  transform: scale(1.1);
}

.storage-component-main {
  padding: 2.2rem 2.2rem 3.8rem;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 600px) {
  .storage-component-main {
    width: 100%;
    padding: 3rem;
    text-align: left;
  }
}

.progress-bar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.progress-bar-outer {
  flex: 0 0 100;
  height: 1.2rem;
  width: 100%;
  margin: 1.3rem 0 0.7rem;
  padding: 2px;
  border-radius: 100px;
  background: #141d41;
}

.progress-bar-inner {
  width: 75%;
  height: 100%;
  border-radius: 100px;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(90deg, var(--gradient-start) 0, var(--gradient-end) 100%);
}
.progress-bar-inner:after {
  content: "";
  margin-right: 2px;
  width: 9px;
  height: 9px;
  border-radius: 100px;
  background: white;
}

.progress-bar-count {
  font-size: 90%;
  text-transform: uppercase;
}

.count-box {
  background: white;
  border-radius: 0.5rem;
  padding: 1rem 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
@media screen and (min-width: 600px) {
  .count-box {
    top: 0;
    right: 3rem;
    left: unset;
    bottom: unset;
    padding: 1rem 1.8rem;
    transform: translateY(-60%);
  }
  .count-box:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    border-right: 2rem solid white;
    position: absolute;
    right: 0;
    bottom: -1.5rem;
  }
}
.count-box p {
  flex-shrink: 0;
  font-size: 2.8rem;
  color: var(--very-dark-blue);
}
.count-box span {
  flex-shrink: 0;
  display: block;
  font-weight: 700;
  font-size: 0.95rem;
  margin-left: 0.7rem;
  text-transform: uppercase;
  color: var(--grayish-blue);
}

/*# sourceMappingURL=main.css.map */
